<footer>
    <div class="container">
        <div class="row-fluid footer_section_pre">
            <p class="text-center">
                <a href="{{ path('steria_solidaclic_root_legal') }}">{% trans %}Mentions légales{% endtrans %}</a> |
                <a href="{{ path('steria_solidaclic_root_contact') }}">{% trans %}Contact{% endtrans %}</a>
            </p>
            <p class="text-center">
                Copyright &copy; 2014 SolidaClic - Tous droits réservés</a>
            </p>
        </div>
    </div>
</footer>