{% extends 'SteriaSolidaClicBundle::global.html.twig' %}

{% block ourbody %}

{% block top %}
{% endblock %}

<div class="container main-content" role="main">
<!-- start page -->
{% block page %}
{% endblock %}
<!-- end page -->
</div>

{% endblock %}