{% extends 'SteriaSolidaClicBundle::page.html.twig' %}

{% block title %}{% trans %}Mot de passe égaré{% endtrans %}{% endblock %}

{% block page %}
<div class="page-start">
    <h1>{% trans %}Mot de passe égaré{% endtrans %}</h1>
</div>
<div class="page-content">
    <p>{% trans %}Un e-mail vient de vous être envoyé. Il contient un lien sur lequel il vous faudra cliquer afin de réinitialiser votre mot de passe.{% endtrans %}</p>
	<br/>
</div>
{% endblock %}
